<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 border-style-right p-0">
        <app-slides [sliderList]="sliderList" (dropEvent)="drop($event)"></app-slides>
      </div>
      <div class="col-md-8 p-0">
        <app-playbook-area [playBookList]="playBookList" (dropEvent)="drop($event)"></app-playbook-area>
      </div>
      <div class="col-md-2 border-style-left p-0">
        <app-sketches [imagesList]="imagesList" [playBookList]="playBookList" (dropEvent)="drop($event)"></app-sketches>
      </div>
    </div>
</div>